{% extends 'admin.html.twig' %}

{% block title %} Tableau de bord {% endblock %}

{% block navigation %}
    <!-- Include Navigation + Messages flash -->
    {% include 'backend/admin/partials/header-dashboard.html.twig' %}

{% endblock %}

{% block body %}

    <section class="dasboard-page-background">
        <div id="wrapper">

            <!-- Include Navigation Sidebar -->
            {% include 'backend/admin/partials/sidebar-dashboard.html.twig' %}

            <!-----------------------  Page content ------------------------------->

            <div id="page-content-wrapper" class="dashboard">
                <div class="container">

                    <div class="col-md-6 mx-auto">

                        <h1 class="my-5 text-center"> Répondre à un devis </h1>
                        {{ form_start(form) }}

                        <div class="row">
                            <div class="col-md-6">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name, {'value':quotation.name}) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.lastName) }}
                            </div>
                        </div>

                        <div class="col-md-12">
                            {{ form_row(form.product) }}
                        </div>

                        <div class="col-md-12">
                            {{ form_row(form.email) }}
                        </div>

                        <div class="col-md-12">
                            {{ form_label(form.responseAttachment, 'Joindre le PDF du devis à envoyer') }}
                            {{ form_widget(form.responseAttachment) }}
                            <p class="filename"> Aucun fichier séléctionné </p>
                        </div>


                        {{ form_widget(form) }}

                        <div class="text-center col-md-12">
                            <button type="submit" class="btn btn-primary mb-5"> Envoyer </button>
                        </div>
                        {{ form_end(form) }}


                    </div>
                </div>

            </div>

        </div>
    </section>

{% endblock %}



