{% block nav %}

<nav class="navbar navbar-expand-sm navbar-light navbar-menu-perso navbar-transparent-homepage navbar-dark">
    <div class="container menu-homepage-container">

        <a href="{{ path('home') }}" class="navbar-brand link-home-admin"> <img class="logo" src="{{ asset("img/logo-pubizy.png") }}"> </a>
        <button class="navbar-toggler menu-icon-website" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse pt-3 navbar-homepage" id="navbarCollapse">
            <ul class="navbar-nav ml-auto main-menu">
                <li class="nav-item active">
                    <a href="{{ path('home') }}" class="nav-link current"> Accueil </a>
                </li>
                <li class="nav-item">
                    <a href=" {{ path('services') }}" class="nav-link"> Services </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('works') }}" class="nav-link"> Réalisations </a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a href="{{ path('account_index') }}" class="nav-link"> Mon compte </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('account_register') }}" class="nav-link"> Inscription </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('account_login') }}" class="nav-link"> Connexion </a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a href="{{ path('blog') }}" class="nav-link"> Blog </a>
                </li>
                <li class="nav-item btn-li-home">
                    <a href="{{ path('quotation') }}" class="nav-link btn btn-pub-header ml-3"> Faire une demande </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Créations des messages flashes dispo dans la variable globale $app et message créés dans les controller-->
{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}

{% endblock %}