{% extends 'base.html.twig' %}

{% block title %} Blog (Astuces graphisme, impression, communication, sites internet) {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">

{% endblock %}

{% block body %}

    <!-- PAGE HEADER -->
    <header class="page-header-works">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                    <h1 class="Title-Homepage"> Bienvenue sur le blog </h1>
                    <p class="underline"> Sites internet, print, web </p>
                </div>
            </div>
        </div>
    </header>


    <!-- PORTFOLIO GALLERY -->
    <section class=" container-pages py-5">
        <div class="container">

            <section id="blog" class="py-3 mb-5">
                <div class="container">
                    <h2 class="text-center mb-5 mt-3"> Nos derniers articles </h2>
                    <div class="row">
                        <div class="card-deck">

                            {% for post in posts %}

                                <!-- Déclaration d'une variable Twig -->
                                {% set url = path('post_show', {'slug': post.slug}) %}

                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <a href="{{ url }}">
                                            <img src="{{ post.image }}" alt="" class="img-fluid card-img-top">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title"> {{ post.title }} </h4>
                                            <p>
                                                <small class="text-muted"> {{ post.category_link.title }} </small>
                                                <small class="text-muted"> {{ post.createdAt | date('d/m/Y')}} </small>
                                            </p>

                                            <hr>
                                            <p class="card-text"> {{ post.excerpt }}</p>
                                            <a href="{{ url }}" class="btn btn-primary"> Lire la suite </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </section>



        </div>
    </section>

{% endblock %}

