{% extends 'base.html.twig' %}

{% block title %} Agence de communication Drôme. Création de sites internet, graphisme, impression et publicité {% endblock %}


{% block body %}
    <div class="container">

        <h1> {{ post.title }} </h1>
        <p> Ecrit le {{ post.createdAt | date('d/m/Y') }} à {{ post.createdAt | date('H:i') }}</p>

        <p> Ecrit par {{ post.author }} </p>

        <p> {{ post.content}} </p>

    </div>


{% endblock %}