<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav mt-5">
        <li> <a href="{{ path('admin_usersList') }}" class="admin-nav-link"> <i class="fas fa-user fa-fw"></i>Utilisateurs</a></li>
        <li> <a href="{{ path('admin_order') }}" class="admin-nav-link"> <i class="fas fa-coins fa-fw"></i>Commandes</a> </li>
        <li> <a href="{{ path('admin_quotation') }}" class="admin-nav-link"> <i class="fas fa-file-signature fa-fw"></i>Devis </a> </li>
        <li> <a href="{{ path('admin_newsletter') }}" class="admin-nav-link"> <i class="fas fa-bullhorn fa-fw"></i>Newsletter </a> </li>
        <li> <a href="{{ path('admin_posts_index') }}" class="admin-nav-link"> <i class="far fa-newspaper fa-fw"></i>Articles </a> </li>
        <li> <a href="#" class="admin-nav-link"> <i class="fas fa-folder fa-fw"></i>Catégories </a> </li>
        <li> <a href="{{ path('admin_works') }}" class="admin-nav-link"> <i class="fas fa-pencil-alt fa-fw"></i>Portfolio </a> </li>
    </ul>
</div>